@import "tailwindcss";

@layer utilities {
  /* Light Theme */
  :root {
    --primary-grey: #e4ddd3;
    --secondary-grey: #d4c9be;

    --primary-paige: #2c2e30;

    --primary-red: #ff4056;  

    --primary-text: #51555a;    
    --secondary-text: #2c2e30;   

    --bg-primary-beige: #51555a;
    --hover-bg-primary-red: #ff4056;

    --text-primary-paige-hover: #2c2e30;
  }

  /* Dark Theme */
  :root.dark {
    --primary-grey: #2c2e30;
    --secondary-grey: #27292b; 

    --primary-paige: #fcfbfa;

    --primary-red: #ff4056;

    --primary-text: #d4c9be;
    --secondary-text: #514c46;

    --bg-primary-beige: #d4c9be;
    --hover-bg-primary-red: #ff4056;

    --text-primary-paige-hover: #fcfbfa;
  }
  
  /* Utility classes */
  .bg-primary-grey {
    background-color: var(--primary-grey);
  }
  .bg-secondary-grey {
    background-color: var(--secondary-grey);
  }
  .text-primary-grey {
    color: var(--primary-text);
  }
  .hover\:bg-primary-grey:hover {
    background-color: var(--primary-grey);
  }
  
  /* Accent colors (same for both themes) */
  .text-primary-paige {
    color: var(--primary-paige);
  }
  .hover\:text-primary-paige:hover {
    color: var(--text-primary-paige-hover);
  }
  
  .bg-primary-paige {
    background-color: var(--bg-primary-beige);
  }

  .hover\:bg-primary-paige:hover {
    background-color: var(--bg-primary-beige);
  }
  .text-primary-red {
    color: var(--primary-red);
  }
  .hover\:bg-primary-red:hover {
    color: var(--hover-bg-primary-red);
  }
}

.fade-text {
  -webkit-mask-image: linear-gradient(to bottom, black 20%, transparent 100%);
}

.comic-neue-light {
  font-family: "Comic Neue", cursive;
  font-weight: 300;
  font-style: normal;
}

.comic-neue-regular {
  font-family: "Comic Neue", cursive;
  font-weight: 400;
  font-style: normal;
}

.comic-neue-bold {
  font-family: "Comic Neue", cursive;
  font-weight: 700;
  font-style: normal;
}

.comic-neue-light-italic {
  font-family: "Comic Neue", cursive;
  font-weight: 300;
  font-style: italic;
}

.comic-neue-regular-italic {
  font-family: "Comic Neue", cursive;
  font-weight: 400;
  font-style: italic;
}

.comic-neue-bold-italic {
  font-family: "Comic Neue", cursive;
  font-weight: 700;
  font-style: italic;
}
button {
  cursor: pointer !important;
}

.scroll-hidden {
  scrollbar-width: none;
  -ms-overflow-style: none;
  transition: all 0.3s ease-in-out;
}
.scroll-hidden::-webkit-scrollbar {
  display: none;
}

.scroll-locked {
  overflow: hidden !important; /* This blocks all user scrolling */
  pointer-events: none; /* Prevents any mouse/touch interaction */
  position: relative;
}
.scroll-locked > * {
  pointer-events: auto; /* Allows child elements to still function */
}
